@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #333333;
    --foreground: #ffffff;
  }
}

.texto-Bem-Vindos {
  color: rgb(255, 255, 255);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 24px;
  text-align: center;
  background-color: #333332;
}

.Navegação {
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-size: 18px;
  background-color: #333333;
  justify-content: center;
  automargin: auto;
}

.texto-Descrição {
  color: rgb(0, 0, 0);
  font-family: lato;
  font-size: 25px;
  text-align: center;
  background-color: #7a7a7a;
}

.logo-salao {
  margin: 1px;
  width: 100px;
  height: 100px;
  border-radius: 30%;
  background-color: #ffffff;

}